.course_img {
    transition: filter .3s linear;
    width: 100%;
}

.wrapper {
    margin: 15px;
    padding: 10px;
    transition: all .3s linear;
}

.wrapper:hover {
    cursor: pointer;
    box-shadow: 8px 8px 10px -6px black;
    transform: scale(1.05);
}

.wrapper header {
    position: relative;
}

.wrapper header:hover {
    cursor: pointer;
}

.wrapper header:hover > .preview_button {
    transform: translate(-50%, -50%);
    opacity: .8;
}

.preview_button {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    transition: all .3s linear;
    border: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
}

.preview_button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
}

.price {
    position: absolute;
    left: 10%;
    bottom: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .7);
    font-size: 24px;
    color: white;
}

.like_button {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, .7);
    padding: 5px 10px;
    right: 5%;
    top: 5%;
    border-radius: 5px;
    transition: all .2s linear;
    display: inline;
}

.like_button:hover {
    cursor: pointer;
    background-color: orange;
    transform: scale(1.1);
}

.like_button img {
    width: 20px;
    height: 20px;
}

.main {
    padding: 15px;
}

.main p, h3 {
    margin: 0;
}

.category {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #636363;
}

.title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.description {
    color: #636363;
    text-align: justify;
    font-size: 14px;
    line-height: 1.5em;
}

.rate {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.votes {
    color: #636363;
    font-size: 12px;
    margin-left: 5px;
}

.wrapper footer {
    display: flex;
}

.wrapper footer .info_item {
    margin: 10px;
    color: #636363;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.wrapper footer .info_item span {
    margin-left: 5px;
}

.wrapper footer .info {
    display: flex;
    margin-right: auto;
}