.forgot_password {
    display: block;
    text-decoration: none;
    color: #414fff;
    margin: 10px 5px 70px;
    font-size: 14px;
}

.forgot_password a {
    text-decoration: none;
    transition: all .3s linear;
}

.forgot_password:hover a{
    color: #0b3aff;
}

.login_button {
    width: 80%;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #2267ff;
    color: white;
    font-size: 18px;
    margin: auto;
    transition: all .3s linear;
}

.login_button:hover{
    cursor: pointer;
    background-color: #0b3aff;
}

.error {
    color: red;
    overflow: hidden;
}