.collapsible {
    background: #ffda22;
    margin: 8px;
    padding: 15px;
    color: white;
}

.openedCollapsible {
    background: #d17800;
    margin: 8px;
    padding: 15px;
    color: white;
}

.collapsible:hover, .openedCollapsible:hover {
    cursor: pointer;
}

.trigger {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.openedCollapsible ul, .collapsible ul {
    list-style-type: none;
}

.content {
    background: white;
    color: black;
}