.header_button {
    background-color: orange;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 10px 25px 10px 15px;
    text-transform: uppercase;
    transition: all .3s linear;
}

.header_button:hover {
    background-color: deepskyblue;
    color: white;
    cursor: pointer;
}