.wrapper {
    width: 40%;
    background-color: white;
    padding: 15px;
    border: 1px solid #aeaeae;
    border-radius: 5px;
}

.label {
    text-align: justify;
    line-height: 1.5em;
}

.reset_button {
    width: 80%;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #2267ff;
    color: white;
    font-size: 18px;
    transition: all .3s linear;
    margin: 48px auto auto;
}

.reset_button:hover{
    cursor: pointer;
    background-color: #0b3aff;
}

.error {
    color: red;
}

@media all and (max-width: 600px) {
    .wrapper {
        width: 95%;
    }
}