.main {
    display: flex;
    flex-wrap: wrap;
    padding: 54px 8px 8px 34px;
}

.video {
    width: 100%;
}

.info {
    width: 50%;
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 15px;
}

.side {
    width: 45%;
    flex-basis: 300px;
    flex-grow: 1;
    background: #ebebeb;
    border-radius: 8px;
    padding: 8px;
}

.side .price {
    font-size: 34px;
    color: #6e6e6e;
    font-weight: bold;
    margin: 0;
}

.side .enroll {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.includes {
    margin-top: 16px;
}

.includesHeader {
    font-size: 24px;
}

.includes ul{
    list-style-type: none;
    padding: 0;
}

.includes ul li {
    display: flex;
    align-items: center;
    padding: 8px;
}

.includes ul li img {
    margin-right: 8px;
}